:root {
	--color-background-01: #fff;
	--color-accent-01: #fafafa;
	--color-accent-02: #eaeaea;
	--color-accent-03: #999;
	--color-accent-04: #888;
	--color-accent-05: #666;
	--color-accent-06: #444;
	--color-accent-07: #333;
	--color-accent-08: #111;
	--color-foreground-01: #000;

	--color-error-01: #e00;
}
